- var pageTitle = "Home Page";
doctype
html
  head
    include pug/layout/meta
    include pug/layout/style
  body
    p Hello From New Website
    p Test
    button(class="btn btn-danger") test
    button(class="btn btn-danger") test
    i(class="fa fa-user fa-2x")
    include pug/layout/scripts